html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f2f2;
  text-align: center; }

.hidden {
  display: none; }

.banner {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }
  .banner.hidden {
    visibility: hidden;
    opacity: 0; }
  .banner button {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: white;
    border: 3px solid #bfbfbf;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .banner button:hover {
      width: 160px;
      height: 160px;
      background: #e6e6e6; }

canvas {
  position: relative;
  top: 50%;
  margin-top: -300px;
  border: 3px solid #a6a6a6;
  border-radius: 5px; }
