html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: darken(white, 5%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  color: #CA402B;
  margin: 0;
}

.hidden {
  display: none !important;
}

.images {
  position: absolute;
  height: 1px;
  width: 1px;
  left: -100px;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-left: 1px solid darken(white, 20%);
  border-right: 1px solid darken(white, 20%);

  button {
    display: inline-block;
    width: 150px;
    height: 150px;

    background: white;
    border: 3px solid darken(white, 25%);
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      background: darken(white, 10%);
    }
  }
}

canvas {
  position: relative;
  top: 50%;
  margin-top: -300px;

  border: 3px solid darken(white, 35%);
  border-radius: 5px;
}
